#app{
	width: 25%;
	margin: auto;
}


h1 {
	text-align: center;
	margin-bottom: 0;
}


textarea, input, #drag-n-drop, .btn, #my-awesome-dropzone {
	width: 100%;
	margin-top: 1em;
}


textarea.ya-input{
	resize: vertical;
	height: 6em;
}


#my-awesome-dropzone {
	height: 10em;
	background: gray;
}


.btn {
	text-align: center;
}