#app{
	width: 25%;
	margin: auto;
}


h1 {
	text-align: center;
	margin-bottom: 0;
}


textarea, input, #drag-n-drop, .btn  {
	width: 100%;
	margin-top: 1em;
}


textarea.ya-input{
<<<<<<< HEAD
	resize:none;
=======
	resize: vertical;
>>>>>>> 330dee6b36e4c89b77d31c5db234655af2b0b7b3
	height: 6em;
}


#drag-n-drop {
	height: 10em;
	background: gray;
}


.btn {
	text-align: center;
}